NODE_ENV=

MONGO_URI="your_db_url"
DB_NAME="your_db_name"
COL_NAME="your_db_collection_name"

REDIS_ADDR="your_redis_address_no_http"
REDIS_PASS="your_redis_password"
REDIS_DB="your_redis_db"
CONV_TTL="your_ttl_redis_conversation"
CONV_MAX="your_max_redis_conversation"

OLLAMA_URL="your_ollama_url"
EMBED_URL="your_embed_url"
EMBED_MODEL="your_embed_model"
LLM_URL="your_llm_url"
LLM_MODEL="your_llm_model"
MAX_TOKENS="your_llm_max_token"

TOP_K="your_top_k_number"
